body {
    background-image: url('/static/nature.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    padding: 20px;
}

p {
    color: #220334;
    font-size: 20px;
    margin-top: 20px;
}

.btn-block {
    width: 100%;
}

@media (max-width: 767px) {
    .btn-block {
        width: 90%;
        margin: 5px auto;
        font-size: 14px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    p {
        font-size: 16px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
    }

    .embed-responsive-4by3 {
        padding-bottom: 75%; /* 4:3 aspect ratio */
    }
}

@media (min-width: 768px) {
    .btn-block {
        font-size: 16px;
    }

    .embed-responsive-16by9 {
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
    }

    .embed-responsive-4by3 {
        padding-bottom: 75%; /* 4:3 aspect ratio */
    }
}
