#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the particles are behind the content */
}

.content {
    position: relative; /* Ensure content stays above particles */
    z-index: 1;
    opacity: 0.8; /* Adjust the opacity value as needed */
}

body {
    font-family: Consolas, monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    color: #fff;
    text-align: center;
    padding: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: transparent;
}

.info, .links {
    flex: 1;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
}

h2 {
    color: #fff;
}

p, li {
    color: #fff;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding-left: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home-aws-button {
    position: fixed;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
    display: inline-block;
    padding: 10px;
    background-color: #070706;
    color: #0c0404;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
}