<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Kumar - Resume</title>
    <link rel="stylesheet" href="static/resume.css">
</head>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Kumar - Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <header>
        <h1>Rajat Kumar</h1>
        <h2>Cloud(AWS) & DevOps</h2>
    </header>

    <section class="contact-info">
        <div class="info">
            <p><strong>Address:</strong> Kanpur, India</p>
            <p><strong>Phone:</strong> +919450817390</p>
            <p><strong>Email:</strong> rajatkatiyar4@gmail.com</p>
            <p><strong>DOB:</strong> 15/07/1999</p>
        </div>
        <div class="links">
            <p><strong>&#8226;</strong> <a href="https://www.linkedin.com/in/rajatvegan/">LinkedIn</a></p>
            <p><strong>&#8226;</strong> <a href="https://github.com/rajatvegan">GitHub</a></p>
            <p><strong>&#8226;</strong> <a href="https://www.kaggle.com/rajatvegan">Kaggle</a></p>
        </div>
    </section>

    <section class="summary">
        <h2>Summary</h2>
        <p>I am skilled with a good background in AWS Cloud and DevOps, having completed a challenging course with Edureka. I am now learning data science tools on my own. I am looking for job opportunities in AWS Cloud, DevOps, and Data Science to use what I've learned and work on exciting projects. I aim to specialize in Deep Learning in the long term. I am eager to apply my current skills and grow while contributing to innovative projects.
        </p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>&#8226; Linux/Ubuntu</li>
            <li>&#8226; DevOps Tools (Git, GitHub, Jenkins, Docker, Kubernetes)</li>
            <li>&#8226; Configuration management tool ( Ansible )</li>
            <li>&#8226; AWS Cloud (EC2, VPC, RDS, EBS, EKS)</li>
            <li>&#8226; Database (MySQL, MongoDB)</li>
            <li>&#8226; Python ( NumPy,Pandas,matplotlib )</li>
        </ul>
    </section>

    <section class="education">
        <h2>Education</h2>
        <p> B.Sc. PCM, 07/2016 - 08/2019, CGPA 7.93</p>
        <p> India Education Centre University, Solan, Himachal Pradesh</p>
    </section>

    <section class="training">
        <h2>Training / Courses</h2>
        <p>&#8226; Cloud(AWS) & DevOps 2023 from Edureka Learning Center, Kakadeo</p>
    </section>

    <section class="certifications">
        <h2>Certifications</h2>
        <p>&#8226; Cloud & DevOps from Futureskill NASSCOM and Edureka 
            <a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/nasscom-certificate.pdf" class="certificate-button"><button> VIEW NASSCOM</button></a>
            <a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/edureka_certificate.pdf" class="certificate-button"><button> VIEW EDUREKA</button></a>
        </p>
        <p>&#8226; One month Internship at Edureka (completed 12 Oct 2023)<a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/internship_edureka.pdf" class="certificate-button">
            <button> VIEW </button></a>
        </p>
    </section>
    

    <section class="experience">
        <h2>Experience</h2>
        <p>Sep 2023 - Oct 2023: Intern - Edureka Learning Center, Kanpur</p>
        <p>Engaged in hands-on practice with AWS Cloud and various DevOps tools, including Ubuntu, Jenkins, and AWS, during a 6-month program with Edureka's Cloud and DevOps curriculum. Applied theoretical knowledge, gaining practical insights into cloud architecture, automation, and deployment strategies. Additionally, successfully completed numerous practice projects sourced from online platforms.</p>
        <ul>
        <li>&#8226; Proficiently managed Ubuntu environments, implementing system configurations and optimizations.</li>
        <li>&#8226; Demonstrated expertise in AWS, including EC2 for scalable computing and VPC for secure networking. </li>
        <li>&#8226; Executed RDS for efficient database management and Elastic Beanstalk for simplified application deployment on AWS.</li>
        <li>&#8226; Implemented Jenkins for continuous integration and continuous deployment (CI/CD) pipelines.</li>
        <li>&#8226; Practiced configuring and deploying containerized applications on AWS EKS for production environments,ensuring scalability,and security.</li>
    </ul>
    </section>

    <section class="projects">
        <h2>Projects</h2>
        <h3>1. Python Flask app with MySql & MongoDB database |
            <a href="https://rajatvegan.onrender.com/">Open this app</a> |
            <a href="https://github.com/rajatvegan/UNITY">Open Repo</a>
        </h3>
        <ul>
            <li>&#8226; Developed a monolithic Flask web app using ChatGPT to practice DevOps and AWS.</li>
            <li>&#8226; Main focus of the app is on storing data into a database and accessing it from a webpage.</li>
            <li>&#8226; Utilized MySQL database for collecting data from a web form.</li>
            <li>&#8226; Employed the free tier RDS MySQL server and MongoDB Atlas.</li>
            <li>&#8226; Practiced with various DevOps tools including Git, Jenkins, Docker, Kubernetes, and AWS cloud services</li>
            <li>&#8226; Deployed the app multiple times on AWS Elastic Beanstalk using AWS CodePipeline and EKS.</li>
            <li>&#8226; Currently deployed on Render (PaaS cloud provider) managed platform.</li>
        </ul>
    </section>

    <section class="interests">
        <h2>Interests</h2>
        <ul>
            <li>&#8226; Science & Technology</li>
            <li>&#8226; Cloud, AI, Deep Learning</li>
            <li>&#8226; Physics and Psychology</li>
        </ul>
    </section>

    <section class="hobbies">
        <h2>Hobbies</h2>
        <ul>
            <li>&#8226; Watching Movies</li>
            <li>&#8226; Studying about Science Researches</li>
        </ul>
    </section>

    <section class="languages">
        <h2>Languages</h2>
        <p><strong>&#8226; Hindi:</strong> Native</p>
        <p><strong>&#8226; English:</strong> Intermediate</p>
    </section>
    
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="static/script.js"></script>
    
</body>
</html>
