<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Kumar - Resume</title>
    <link rel="stylesheet" href="static/resume.css">
</head>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajat Kumar - Resume</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/home.html" class="home-aws-button">
            <button> HOME </button>
        </a>
    </div>

    <header>
        <h1>Rajat Kumar</h1>
        <h2>Cloud(AWS), DevOps & Data Science</h2>
    </header>

    <section class="contact-info">
        <div class="info">
            <p><strong>Address:</strong> Kanpur, India</p>
            <p><strong>Phone:</strong> +919450817390</p>
            <p><strong>Email:</strong> rajatkatiyar4@gmail.com</p>
            <p><strong>DOB:</strong> 15/07/1999</p>
        </div>
        <div class="links">
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/rajat-kumar-143885a3/">Rajat Kumar</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/rajatvegan">rajatvegan</a></p>
            <p><strong>Docker:</strong> <a href="https://hub.docker.com/u/rajatvegan">rajatvegan</a></p>
        </div>
    </section>

    <section class="summary">
        <h2>Summary</h2>
        <p>Result-oriented professional with a comprehensive background in AWS Cloud and DevOps, having successfully completed a rigorous course with Edureka. Currently advancing skills in data science tools through self-directed learning. Actively seeking employment opportunities in AWS Cloud, DevOps, and Data Science to leverage acquired knowledge and contribute to innovative and dynamic projects. Driven professional seeking opportunities in Cloud, DevOps, or Data Science roles with a long-term goal of specializing in Deep Learning. Eager to apply and expand current skills while contributing to cutting-edge projects and eventually transitioning into the realm of Deep Learning.</p>
    </section>

    <section class="skills">
        <h2>Skills</h2>
        <ul>
            <li>&#8226; AWS Cloud (EC2, VPC, RDS, EBS, EKS)</li>
            <li>&#8226; Data tools (MySQL, MongoDB)</li>
            <li>&#8226; DevOps Tools (Git, GitHub, Jenkins, Docker, Kubernetes)</li>
            <li>&#8226; Linux/Ubuntu</li>
            <li>&#8226; Python</li>
        </ul>
    </section>

    <section class="education">
        <h2>Education</h2>
        <p> B.Sc. PCM, 07/2016 - 08/2019, CGPA 7.93</p>
        <p> India Education Centre University, Solan, Himachal Pradesh</p>
    </section>

    <section class="training">
        <h2>Training / Courses</h2>
        <p>&#8226; Cloud(AWS) & DevOps 2023 from Edureka Learning Center, Kakadeo</p>
    </section>

    <section class="certifications">
        <h2>Certifications</h2>
        <p>&#8226; Cloud & DevOps from Futureskill NASSCOM and Edureka 
            <a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/nasscom-certificate.pdf" class="certificate-button"><button> VIEW NASSCOM</button></a>
            <a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/edureka_certificate.pdf" class="certificate-button"><button> VIEW EDUREKA</button></a>
        </p>
        <p>&#8226; One month Internship at Edureka (completed 12 Oct 2023)<a href="https://resume-rajat.s3.ap-south-1.amazonaws.com/static/internship_edureka.pdf" class="certificate-button">
            <button> VIEW </button></a>
        </p>
    </section>
    

    <section class="experience">
        <h2>Experience</h2>
        <p>Sep 2023 - Oct 2023: Intern - Edureka Learning Center, Kanpur</p>
        <p>Engaged in hands-on practice with AWS Cloud and various DevOps tools, including Ubuntu, Jenkins, and AWS, during a 6-month program with Edureka's Cloud and DevOps curriculum. Applied theoretical knowledge to real-world scenarios, gaining practical insights into cloud architecture, automation, and deployment strategies. Additionally, successfully completed numerous practice projects sourced from online platforms, particularly focusing on DevOps and Data Science, to enhance skills and proficiency in these domains.</p>
    </section>

    <section class="projects">
        <h2>Projects</h2>
        <h3>&#8226; Python Flask Web App with MySQL Database</h3>
        <p>I developed a Python Flask web application that seamlessly connects to a MySQL database. The app serves a dynamic webpage presenting data fetched from the MySQL database and allows users to input data via a user-friendly form on a separate webpage. The project involves back-end logic with Flask, MySQL database interactions, and front-end development for data presentation and user interaction.</p>
        <h3>&#8226; AWS Beanstalk Intern Project of Edureka</h3>
        <p>Proficiently deployed a Python and React web app on AWS Elastic Beanstalk within a secure VPC, ensuring security scalability and high availability. Automated deployments via Elastic Beanstalk, implemented disaster recovery with backups, and addressed traffic variations with Auto Scaling. Configured AWS services for optimal global accessibility and minimized latency.</p>
    </section>

    <section class="interests">
        <h2>Interests</h2>
        <ul>
            <li>&#8226; Science & Technology</li>
            <li>&#8226; Cloud, AI, Deep Learning</li>
            <li>&#8226; Physics and Psychology</li>
        </ul>
    </section>

    <section class="hobbies">
        <h2>Hobbies</h2>
        <ul>
            <li>&#8226; Watching Movies</li>
            <li>&#8226; Studying about Science Researches</li>
        </ul>
    </section>

    <section class="languages">
        <h2>Languages</h2>
        <p><strong>&#8226; Hindi:</strong> Native</p>
        <p><strong>&#8226; English:</strong> Intermediate</p>
    </section>
    
    <div id="particles-js"></div>
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="static/script.js"></script>
    
</body>
</html>
