<!DOCTYPE html>
<html>
<head>
    <title>Data Viewed</title>
</head>
<body>
    <div>         
        <p>TOTAL COUNT: {{ total_count }}</p>        
    </div>
    <div>
        <p>KANPUR COUNT: {{ kanpur_count }} </p>
    </div>
    <div>
        <table border="1"> <!-- Adjusted border attribute value -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for people in peoples %} <!-- Corrected variable name 'peoples' to 'people' -->
                    <tr>
                        <td>{{ people.id }}</td>
                        <td>{{ people.name }}</td>
                        <td>{{ people.email }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h1>MongoDB Data</h1> <!-- Moved h1 tag within the body -->
    <ul>
        {% for document in documents %}
            <li>{{ document }}</li>
        {% endfor %}
    </ul>
</body>
</html>
